:root {
	--primary: #05f385;
	--secondary: #0d0d0d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Arial", sans-serif;
}

body {
	background-color: var(--secondary);
	color: white;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	background-color: var(--secondary);
	position: sticky;
	top: 0;
	z-index: 100;
}

.logo > a {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--primary);
	text-decoration: none;
}

.logo > a:hover {
	opacity: 0.7;
}

nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 50px;
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 1rem;
	font-weight: 600;
	transition: color 0.3s;
}

nav ul li a:hover {
	color: var(--primary);
}
footer {
	text-align: center;
	padding: 20px;
	background-color: #0d0d0d;
	font-size: 0.9rem;
	color: #888;
}

footer a {
	text-decoration: none;
	color: var(--primary);
}

footer a:hover {
	opacity: 0.6;
}

.visited-pages {
	margin-top: 5px;
}

.visited-pages ol {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 50px;
}

.visited-pages li {
	padding: 5px 10px;
	border-radius: 5px;
}

.greenTxt {
	color: var(--primary);
	font-weight: bold;
}

.burger {
	display: none;
	cursor: pointer;
	flex-direction: column;
	gap: 5px;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: white;
	transition: all 0.3s;
}

@media screen and (max-width: 746px) {
	nav ul {
		position: absolute;
		top: 60px; /* ispod headera */
		right: 0;
		background-color: #0d0d0d;
		width: 100%;
		flex-direction: column;
		align-items: center;
		display: none;
		gap: 0;
	}

	nav ul li {
		margin: 20px 0;
	}

	.burger {
		display: flex;
	}

	nav ul.active {
		display: flex;
	}

	.visited-pages ol {
		flex-direction: column;
		gap: 0;
		align-items: center;
	}
}
