:root {
	--primary: #8a2be2; /* Background/Headers */
	--secondary: #390161; /* Panels/Sections */
	--lighter: #800080; /* ACCENTS/Buttons */
	--lightest: #f8f8ff; /* text/highlights */
}

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;
}
.card {
	color: var(--lightest);
	background-color: #39016171;
	padding: 30px;
	border: none;
	border-radius: 10px;
	filter: drop-shadow(2px 2px rgb(0, 0, 0));
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.versus {
	display: flex;
	align-items: center;
	justify-content: center;
}
.team {
	text-align: center;
	margin: 0 15px;
	position: relative;
}
.versus > div > img {
	width: 8em;
	height: 6em;
}

.info > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	font-size: 0.6rem;
}

.info > p {
	font-size: 0.6rem;
	padding-top: 10px;
}

.info > p {
	display: flex;
	align-items: center;
	gap: 5px;
}

.info > div > p > img,
.info > p > img {
	width: 3em;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: 0.5s ease;
	background-color: #390161b9;
	cursor: pointer;
}

.team:hover .overlay {
	opacity: 1;
}

.overlayText {
	color: white;
	font-size: 0.8em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
